
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right bottom, #a11a90, #75e92b);
    font-family: "Libre Franklin", sans-serif;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
}


.navbar {
    grid-column: 1 / 11;
    padding: 30px;
    background-color: #5E8C08;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

#logo {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s ease;
}

#logo:hover {
    background-color: rgb(51, 11, 138);
    color: greenyellow;
    padding: 10px 20px;
    border-radius: 20px;
}

.nav-links {
    
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.75rem;
    transition: color 0.3s;
    padding-inline: 20px;
}

.nav-links a:hover {
    color: #222;
}


#menu {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}


.image-section {
    grid-column: 2 / 6;
    text-align: center;
    padding: 2rem;
}

.image-section img {
    width: 80%;
    border-radius: 20%;
}


.text-section {
    grid-column: 6 / 11;
    padding-top: 10%;
}

.text-section ul {
    list-style: none;
}

.text-section li:nth-child(1) {
    font-family: "Palanquin", sans-serif;
    font-size: 2.5rem;
    color: #6C0080;
    font-weight: bold;
}

.text-section li:nth-child(2) {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.text-section li:nth-child(3) {
    font-family: "Courier New", monospace;
    font-size: 1.5rem;
    color: #960D38;
    font-weight: bold;
}

.quote-section {
    grid-column: 6 / 11;
    text-align: justify;
    
    margin-bottom: 10px;

    ul {
      list-style: none;
    li {
        font-family: "Georgia", serif;
        font-size: 1.5rem;
        font-weight: bold;
        font-style: italic;
        color: #100342;
    }
  }
}

.footer {
    grid-column: 1 / 11;
    /* background-color: #5E8C08;
    text-align: center;
    color: white;
    padding: 20px; */
}

.footer ul {
    list-style: none;
}

.footer li {
    font-size: 1rem;
}

#responsive-nav {
    display: none;
    background-color: #5d8317;
    position: fixed;
    top: 109px;
    right: 0;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

#responsive-nav.show {
    display: block;
    animation: slideDown 1.5s ease forwards;
}

#responsive-nav ul {
    list-style: none;
    padding: 4px;
    text-align: center;
}

#responsive-nav li {
    margin: 15px 0;
}

#responsive-nav a {
    color: white;
    text-decoration: none;
    font-family: 'Libre Franklin', serif;
    font-size: 1.2rem;
    font-weight: bold;
}

#responsive-nav a:hover {
    color: rgb(190, 51, 141);
}


@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    #menu {
        display: block;
    }

    .image-section {
        grid-column: 1 / 11;
    }

    .text-section {
        grid-column: 1 / 11;
        text-align: center;
    }
}

@media screen and (max-width: 1200px) {
  .navbar {
    background-color: blue;
    padding: 30px;
  }

  .navbar ul {
    background-color: rgb(43, 226, 165);
    border-radius: 40px;
    padding: 15px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
  }

  .navbar li {
    padding-inline: 15px;
  }

  .navbar a {
    font-family: "Libre Franklin", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    text-decoration: none;
    color: darkgreen;
    padding-inline: 20px;
    position: relative;
  }

  #logo {
    padding-top: 30px;
    font-size: 2rem;
    margin-left: -5px;
    position: relative;
  }

  #logo:hover {
    background-color: rgb(51, 11, 138);
    color: greenyellow;
    transform: scale(1.05);
    padding: 15px;
  }

  .image-section {
    grid-column: 2 / 6;
  }

  .image-section img {
    border-radius: 10px;
    margin-left: -7%;
    width: 90%;
  }

  .text-section {
    grid-column: 6 / 11;
  }

  .text-section li {
    font-size: 1.25rem;
  }

  .quote-section {
    grid-column: 6 / 11;
    text-align: justify;
    margin-top: 5px;
    margin-bottom: 35px;
  }
  .footer {
    text-align: center;
    grid-column: 1 / 11;
    color: white;
  }

  .footer ul li {
    background-color: darkblue;
    font-family: "Franklin Gothic", sans-serif;
    font-size: 20px;
    list-style: none;
    padding: 35px;
  }
}

@media screen and (max-width: 1000px) {
  .navbar {
    background-color: blue;
    padding: 30px;
  }

  .navbar ul li a {
    padding-inline: 12px;
    font-size: 1.6rem;
  }

  #logo {
    font-size: 2rem;
    margin-left: -5px;
    position: relative;
  }

  #logo:hover {
    background-color: rgb(51, 11, 138);
    color: greenyellow;
  }

  .image-section {
    grid-column: 2 / 6;
  }

  .image-section img {
    border-radius: 10px;
    width: 90%;
    text-align: center;
  }

  .text-section {
    grid-column: 6 / 11;
  }

  .text-section li:nth-child(1) {
    font-size: 2.5rem;
  }

  .text-section li:nth-child(2) {
    font-size: 1.8rem;
  }

    .quote-section {
    grid-column: 6 / 11;
    text-align: justify;
    margin-top: 5px;
    margin-bottom: 35px;
    }

  .footer {
    text-align: center;
    color: white;
  }

  .footer ul li {
    background-color: darkblue;
    font-family: "Franklin Gothic", sans-serif;
    font-size: 18px;
    padding: 30px;
  }
}


@media screen and (max-width: 800px) {
  body {
    background-color: rgb(203, 149, 203);
  }

  .navbar {
    background-color: #6C0080;
    padding: 40px;
  }

  .navbar ul {
    display: none;
  }

  #menu {
    display: flex;
    font-size: 2rem;
    cursor: pointer;
    color: white;
  }

  #logo {
    font-size: 2rem;
    margin-left: -10px;
  }

  .image-section {
    grid-column: 1 / 11;
    padding-top: 10px;
    text-align: center;
  }

  .image-section img {
    border-radius: 20%;
    width: 60%;
  }

  .text-section {
    grid-column: 1 / 11;
    text-align: center;
    padding-top: 1rem;
  }

  .text-section li:nth-child(1) {
    font-size: 2.5rem;
  }

  .text-section li:nth-child(2) {
    font-size: 1.8rem;
  }

  .quote-section {
    grid-column: 1 / 11;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 35px;
  }

  .footer ul li {
    background-color: darkblue;
    font-family: "Franklin Gothic", sans-serif;
    font-size: 18px;
    padding: 25px;
  }
}


@media screen and (max-width: 700px) {
  body {
    background-color: rgb(156, 156, 206);
  }

  .image-section {
    grid-column: 1 / 11;
    text-align: center;
  }

  .image-section img {
    width: 50%;
  }
}


@media screen and (max-width: 600px) {
  body {
    background-color: rgb(181, 155, 121);
  }

  .navbar {
    background-color: rgb(121, 19, 50);
    padding: 40px;
  }

  .navbar ul {
    display: none;
  }

  #menu {
    float: right;
    display: flex;
    font-size: 2rem;
    color: white;
  }

  .image-section {
    grid-column: 1 / 11;
    width: 96%;
  }

  .text-section {
    grid-column: 1 / 11;
    text-align: center;
  }

  .text-section li:nth-child(1) {
    font-size: 2rem;
  }

  .text-section li:nth-child(2) {
    font-size: 1.5rem;
  }

    .quote-section {
    grid-column: 1 / 11;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 35px;
    }
  .footer ul li {
    background-color: darkblue;
    font-family: "Franklin Gothic", sans-serif;
    font-size: 16px;
    padding: 25px;
  }
}


@media screen and (max-width: 400px) {
  body {
    background-color: pink;
  }

  .navbar {
    padding: 20px;
  }

  #menu {
    display: flex;
    float: right;
  }

  .image-section {
    grid-column: 1 / 11;
    text-align: center;
  }

  .image-section img {
    width: 70%;
    border-radius: 15%;
  }

  .text-section {
    grid-column: 1 / 11;
    text-align: center;
  }

  .text-section li:nth-child(1) {
    font-size: 1.8rem;
  }

  .text-section li:nth-child(2) {
    font-size: 1.2rem;
  }

  .quote-section {
    grid-column: 1 / 11;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 35px;
    }

  .footer ul li {
    background-color: darkblue;
    font-family: "Franklin Gothic", sans-serif;
    font-size: 16px;
    padding: 25px;
  }
}
