
@media screen and (max-width: 1200px) {
  .navbar {
    background-color: blue;
    padding: 30px;
  }

  .navbar ul {
    background-color: rgb(43, 226, 165);
    border-radius: 40px;
    padding: 15px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
  }

  .navbar li {
    padding-inline: 15px;
  }

  .navbar a {
    font-family: "Libre Franklin", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    text-decoration: none;
    color: darkgreen;
    padding-inline: 20px;
    position: relative;
  }

  #logo {
    padding-top: 30px;
    font-size: 2rem;
    margin-left: -5px;
    position: relative;
  }

  #logo:hover {
    background-color: rgb(51, 11, 138);
    color: greenyellow;
    transform: scale(1.05);
    padding: 15px;
  }

  .image-section {
    grid-column: 2 / 6;
  }

  .image-section img {
    border-radius: 10px;
    margin-left: -7%;
    width: 90%;
  }

  .text-section {
    grid-column: 6 / 11;
  }

  .text-section li {
    font-size: 1.25rem;
  }

  .footer {
    text-align: center;
    grid-column: 1 / 11;
    color: white;
  }

  .footer ul li {
    background-color: darkblue;
    font-family: "Franklin Gothic", sans-serif;
    font-size: 20px;
    list-style: none;
    padding: 35px;
  }
}


@media screen and (max-width: 1000px) {
  .navbar {
    background-color: blue;
    padding: 30px;
  }

  .navbar ul li a {
    padding-inline: 12px;
    font-size: 1.6rem;
  }

  #logo {
    font-size: 2rem;
    margin-left: -5px;
    position: relative;
  }

  #logo:hover {
    background-color: rgb(51, 11, 138);
    color: greenyellow;
  }

  .image-section {
    grid-column: 2 / 6;
  }

  .image-section img {
    border-radius: 10px;
    width: 90%;
    text-align: center;
  }

  .text-section {
    grid-column: 6 / 11;
  }

  .text-section li:nth-child(1) {
    font-size: 2.5rem;
  }

  .text-section li:nth-child(2) {
    font-size: 1.8rem;
  }

  .footer {
    text-align: center;
    color: white;
  }

  .footer ul li {
    background-color: darkblue;
    font-family: "Franklin Gothic", sans-serif;
    font-size: 18px;
    padding: 30px;
  }
}

@media screen and (max-width: 800px) {
  body {
    background-color: rgb(203, 149, 203);
  }

  .navbar {
    background-color: #6C0080;
    padding: 30px;
  }

  .navbar ul {
    display: none;
  }

  #menu {
    display: flex;
    font-size: 2rem;
    cursor: pointer;
    color: white;
  }

  #logo {
    font-size: 2rem;
    margin-left: -10px;
  }

  .image-section {
    grid-column: 1 / 11;
    padding-top: 10px;
    text-align: center;
  }

  .image-section img {
    border-radius: 20%;
    width: 60%;
  }

  .text-section {
    grid-column: 1 / 11;
    text-align: center;
    padding-top: 1rem;
  }

  .text-section li:nth-child(1) {
    font-size: 2.5rem;
  }

  .text-section li:nth-child(2) {
    font-size: 1.8rem;
  }

  .footer ul li {
    background-color: darkblue;
    font-family: "Franklin Gothic", sans-serif;
    font-size: 18px;
    padding: 25px;
  }
}

@media screen and (max-width: 700px) {
  body {
    background-color: rgb(156, 156, 206);
  }

  .image-section {
    grid-column: 1 / 11;
    text-align: center;
  }

  .image-section img {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  body {
    background-color: rgb(181, 155, 121);
  }

  .navbar {
    background-color: rgb(121, 19, 50);
    padding: 30px;
  }

  .navbar ul {
    display: none;
  }

  #menu {
    float: right;
    display: flex;
    font-size: 2rem;
    color: white;
  }

  .image-section {
    grid-column: 1 / 11;
    width: 96%;
  }

  .text-section {
    grid-column: 1 / 11;
    text-align: center;
  }

  .text-section li:nth-child(1) {
    font-size: 2rem;
  }

  .text-section li:nth-child(2) {
    font-size: 1.5rem;
  }

  .footer ul li {
    background-color: darkblue;
    font-family: "Franklin Gothic", sans-serif;
    font-size: 16px;
    padding: 25px;
  }
}

@media screen and (max-width: 400px) {
  body {
    background-color: pink;
  }

  .navbar {
    padding: 20px;
  }

  #menu {
    display: flex;
    float: right;
  }

  .image-section {
    grid-column: 1 / 11;
    text-align: center;
  }

  .image-section img {
    width: 70%;
    border-radius: 15%;
  }

  .text-section {
    grid-column: 1 / 11;
    text-align: center;
  }

  .text-section li:nth-child(1) {
    font-size: 1.8rem;
  }

  .text-section li:nth-child(2) {
    font-size: 1.2rem;
  }

  .footer ul li {
    background-color: darkblue;
    font-family: "Franklin Gothic", sans-serif;
    font-size: 16px;
    padding: 25px;
  }
}
