
/* media responsive queries */
    @media screen and (max-width: 1200px) {
      .navbar {
        background-color: blue;
        padding: 30px;
      
      ul {
    grid-column: 6 / 11;
    background-color: rgb(43, 226, 165);
    border-radius: 40px;
    padding: 15px;
    float: right;
    list-style: none;
    display: flex;
    flex-direction: row;
}

li {
    padding-inline: 15px;   
  
}

a {
    font-family: "Libre Franklin", sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-decoration: none;
    color: darkgreen;
    padding-inline: 20px;
    position: relative;
  }

      }

      #logo {
        padding-top: 30px;
        font-size: 2rem;
        margin-left: -5px;
        position: absolute;
      }

      #logo:hover {
        background-color: rgb(51, 11, 138);
        color: greenyellow;
        font-size: 25px;
        transform: scale(1.0);
        padding: 15px;
      }

      .image-section {
        grid-column: 1 / 6;
      

      img {
        border-radius: 10px;
        width: 70%;
      }
    }

      .text-section {
        grid-column: 6 / 11;
      }

      li:nth-child(1) {
        font-size: 2rem;
      }

      li:nth-child(2) {
        font-size: 2rem;
      }
    }
    
.footer {
      text-align: center;
      grid-column: 1 / 11;
      place-content: center;
      color: white;
    

ul li {
      background-color: darkblue;
      font-family: "Franklin Gothic";
      font-size: 20px;
      list-style: none;
      padding: 35px;
    }
}
  

@media screen and (max-width: 1000px) {
.navbar {
        background-color: blue;
        padding: 30px;
      

ul li a {
        padding-inline: 12px;
        font-size: 2rem;
      }
    }

#logo {
        
        font-size: 2rem;
        margin-left: -5px;
        position: absolute;
      }

#logo:hover {
        background-color: rgb(51, 11, 138);
        color: greenyellow;
        font-size: 25px;
        transform: scale(1.0);
        padding: 15px;
      }

.image-section {
        grid-column: 1 / 6;
      

      img {
        border-radius: 10px;
        width: 70%;
      }
    }
.text-section {
        grid-column: 6 / 11;
      

li:nth-child(1) {
        font-size: 3rem;
      }

li:nth-child(2) {
        font-size: 2rem;
      }
    
    }

.footer {
      text-align: center;
      grid-column: 1 / 11;
      place-content: center;
      color: white;
    

ul li {
      background-color: darkblue;
      font-family: "Franklin Gothic";
      font-size: 20px;
      list-style: none;
      padding: 35px;
    }

    }

@media screen and (min-width: 400px) and (max-width: 800px) {
.navbar ul {
        display: flex;
      }
    }

@media screen and (max-width: 800px) {
  body {
    background-color: rgb(203, 149, 203);
  }
.navbar {
        background-color: #6C0080;
        padding: 40px;
      }

.navbar ul {
        display: none;
      }

#logo {
        font-size: 2rem;
        margin-left: -10px;
      }

#logo:hover {
        background-color: rgb(51, 11, 138);
        color: greenyellow;
      }

#menu {
        display: flex;
        float: right;
      }

.image-section {
          grid-column: 1 / 11;
          padding-top: 10px;
      }

.image-section img {
          border-radius: 20%;
          width: 50%;
      }

.text-section {
        grid-column: 1 / 11;
        align-items: center;
        padding-top: 1rem;
      }

.text-section ul {
        text-align: center;
    }

.text-section li:nth-child(1) {
        font-size: 3rem;
      }

.text-section li:nth-child(2) {
        font-size: 2rem;
      }

.footer {
        text-align: center;
        grid-column: 1 / 11;
        place-content: center;
        color: white;
    }

.footer ul li {
        background-color: darkblue;
        font-family: "Franklin Gothic";
        font-size: 20px;
        list-style: none;
        padding: 35px;
    }

    }

    @media screen and (max-width: 700px) {
      body {
        background-color: rgb(156, 156, 206);
      }
 .image-section {
        grid-column: 1 / 11;
      }

.image-section img {
        width: 50%;
      }
    }}

@media screen and (max-width: 600px) {
  body {
    background-color: rgb(181, 155, 121);
  }
  .navbar {
        background-color: rgb(121, 19, 50);
        padding: 40px;
      }

.navbar ul {
          float: right;
      }

#logo {
          padding-top: 30px;
          font-size: 2rem;
          margin-left: -10px;
          position: absolute;
      }

#logo:hover {
          background-color: rgb(51, 11, 138);
          color: greenyellow;
      }

#menu {
          float: right;
      }

.image-section {
          grid-column: 1 / 11;
          width: 96%;
      }

.text-section {
          grid-column: 1 / 11;
          align-items: center;
      }

.text-section li:nth-child(1) {
          font-size: 3rem;
      }

.text-section li:nth-child(2) {
          font-size: 2rem;
      }

.footer {
          text-align: center;
          grid-column: 1 / 11;
          place-content: center;
          color: white;
    }

.footer ul li {
          background-color: darkblue;
          font-family: "Franklin Gothic";
          font-size: 20px;
          list-style: none;
          padding: 35px;
    }

    }

@media screen and (max-width: 400px) {
  body {
    background-color: pink;
  }
.navbar ul {
          padding: 40px;
          display: none;
      }

#logo {
          font-size: 2rem;
          margin-left: -10px;
      }

#logo:hover {background-color: rgb(51, 11, 138);
          color: greenyellow;
      }

#menu {
          display: flex;
          float: right;
        
      }

.image-section {
          grid-column: 1 / 11;

        img {
          width: 50%;
        }
      }

.text-section {
          grid-column: 1 / 11;
          text-align: center;
      }

.text-section li:nth-child(1) {
          font-size: 2rem;
      }

.text-section li:nth-child(2) {
          font-size: 1.5rem;
      }

.footer {
          text-align: center;
          grid-column: 1 / 11;
          place-content: center;
          color: white;
    }

.footer ul li {
          background-color: darkblue;
          font-family: "Franklin Gothic";
          font-size: 20px;
          list-style: none;
          padding: 35px;
      }

    }
  