* {
      margin: 0;
      padding: 0;
}

body {
     background-color: #23C1D3;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    /* gap: 10px; */
}

.grid-container > div {
    font-size: 30px;
    /* outline: 3px solid rgb(10, 28, 226); */
}

.menu-bar {
     display: none !important;
}

.navbar {
    grid-column: 1 / 11;
    padding: 23px;
    background-color: #5E8C08;
    color: aliceblue;


ul {
    grid-column: 6 / 11;
    background-color: rgb(43, 226, 165);
    border-radius: 40px;
    padding: 15px;
    float: right;
    list-style: none;
    display: flex;
    flex-direction: row;
}

li {
    padding-inline: 15px;   
  
}

a {
    font-family: "Libre Franklin", sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-decoration: none;
    color: darkgreen;
    padding-inline: 20px;
    position: relative;
  }

  
}

#logo {
    font-size: 2rem;
    position: relative;
    top: 20px;
    text-align: center;
    border-radius: 40px;
    transition: 0.5s ease-in-out;
    color: white;
}

#logo:hover {
    background-color: rgb(51, 11, 138);
    color: greenyellow;
    font-size: 25px;
    transform: scale(1.0);
    padding: 20px;
    margin-top: 2%;
}

#menu {
    display: none;
}


.image-section {
    grid-column: 1 / 6;
    text-align: center;
    padding: 2rem 0 0 0;

img {
    border-radius: 20%;
    width: 65%;
  }
}

.text-section {
    grid-column: 6 / 11;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    display: grid;

ul {
    display: flex;
    list-style: none;
    flex-direction: column;
}
li:nth-child(1) {
    font-family: "Palanquin", sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: #6C0080;
    padding-bottom: 2%;
}

li:nth-child(2) {
    font-family: "Palanquin", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    padding-bottom: 2%;
}

li:nth-child(3) {
    font-family: "Courier New", sans-serif;
    font-size: 2rem;
    color: #960D38;
    font-weight: bold;
    padding-bottom: 3%;
}

li:nth-child(4) {
    font-family: "Averia Serif Libre", serif;
    font-size: 1.25rem;
    font-style: italic;
    color: #6C0080;
    font-weight: bold;
    padding-bottom: 7%;
}
}


.footer {
    text-align: center;
    grid-column: 1 / 11;
    place-content: center;
    color: white;


ul li {
    background-color: darkblue;
    font-family: "Franklin Gothic";
    font-size: 20px;
    list-style: none;
    padding: 35px;
}
}
