
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right bottom, #05493e, #fc99ef);
    font-family: "Libre Franklin", sans-serif;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
}


.navbar {
    grid-column: 1 / 11;
    padding: 30px;
    background-color: #5E8C08;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

#logo {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s ease;
}

#logo:hover {
    background-color: rgb(51, 11, 138);
    color: greenyellow;
    padding: 10px 20px;
    border-radius: 20px;
}

.nav-links {
    
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-family: 'Libre Franklin', serif;
    font-weight: 700;
    font-size: 1.75rem;
    transition: color 0.3s;
    padding-inline: 20px;
}

.nav-links a:hover {
    color: #222;
}


#menu {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

.image-section {
    grid-column: 2 / 6;
    text-align: center;
    padding: 2rem;
}

.image-section img {
    width: 80%;
    border-radius: 20%;
}

.text-section {
    grid-column: 6 / 11;
    padding-top: 10%;
}

.text-section ul {
    list-style: none;
}

.text-section li:nth-child(1) {
    font-family: "Palanquin", sans-serif;
    font-size: 2.5rem;
    color: #6C0080;
    font-weight: bold;
}

.text-section li:nth-child(2) {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.text-section li:nth-child(3) {
    font-family: "Courier New", monospace;
    font-size: 1.5rem;
    color: #960D38;
    font-weight: bold;
}

.footer {
    grid-column: 1 / 11;
    /* background-color: #5E8C08;
    text-align: center;
    color: white;
    padding: 20px; */
}

.footer ul {
    list-style: none;
}

.footer li {
    font-size: 1rem;
}

#responsive-nav {
    display: none;
    background-color: crimson;
    position: fixed;
    top: 109px;
    right: 0;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

#responsive-nav.show {
    display: block;
    animation: slideDown 1.5s ease forwards;
}

#responsive-nav ul {
    list-style: none;
    padding: 4px;
    text-align: center;
}

#responsive-nav li {
    margin: 15px 0;
}

#responsive-nav a {
    color: white;
    text-decoration: none;
    font-family: 'Libre Franklin', serif;
    font-size: 1.2rem;
    font-weight: bold;
}

#responsive-nav a:hover {
    color: rgb(190, 51, 141);
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    #menu {
        display: block;
    }

    .image-section {
        grid-column: 1 / 11;
    }

    .text-section {
        grid-column: 1 / 11;
        text-align: center;
    }
}
