        * {
            margin: 0;
            padding: 0;
        }

        body {
            background-color: #23C1D3;

        }
        .grid-container>div {
            font-size: 30px;
            /* outline: 3px solid rgb(10, 28, 226); */
        }

        .grid-container {
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            gap: 10px;
        }

        .menu-bar {
            display: none !important;
        }

        .navbar {
            grid-column: 1/11;
            padding: 23px;
            background-color: #5E8C08;
            color: aliceblue;

            ul {
                grid-column: 6 / 11;
                background-color: rgb(24, 112, 4);
                border-radius: 40px;
                padding: 10px;
                float: right;
                list-style: none;
                display: flex;
                flex-direction: row;

            }

            li {
                padding-inline: 23px;
            }

            a {
                font-family: "Libre Franklin", sans-serif;
                font-weight: 700;
                text-decoration: none;
                color: rgb(255, 255, 255);
                padding-inline: 20px;
            }

            #logo:hover {
                background-color: rgb(51, 11, 138);
                color: greenyellow; 
                font-size: 25px;
                transform: scale(1.0);
                padding: 20px;
                margin-top: 2%;
                
            }

            #logo {
                position: relative;
                left: 30px;
                top: 12px;
                text-align: center;
                border-radius: 40px;
                transition: 0.5s ease-in-out;
            }

            #menu {
                display: none;
            }
        }

        .image-section {
            grid-column: 1/6;
            text-align: center;
            padding: 2rem 0px 0px 0px;

            img {
                border-radius: 20%;
                width: 57%;
            }
        }

        .text-section {
            grid-column: 6/11;
            padding-top: 3%;
            padding-left: 10%;
            padding-right: 10%;
            display: grid;
            place-content: space-evenly;


            ul {
                display: flex;
                list-style: none;
                flex-direction: column;
            }

            li:nth-child(1) {
                font-family: "Palanquin", sans-serif;
                font-size: 1.75rem;
                font-weight: bold;
                color: #6C0080;
                padding-bottom: 2%;
            }

            li:nth-child(2) {
                font-family: "Palanquin", sans-serif;
                font-size: 2.5rem;
                font-weight: bold;
                padding-bottom: 2%;
            }

            li:nth-child(3) {
                font-family: "Courier New", sans-serif;
                font-size: 2rem;
                color: #960D38;
                font-weight: bold;
                
                padding-bottom: 3%;
            }

            li:nth-child(4) {
                font-family: "Averia Serif Libre", serif;
                font-size: 1.25rem;
                font-style: italic;
                color: #6C0080;
                font-weight: bold;
                padding-bottom: 7%;
            }
        }

        .footer {
                text-align: center;
                grid-column: 1/11;
                place-content: center;
                color: white;

                ul li {
                    background-color: darkblue;
                    font-family: "Franklin Gothic";
                    font-size: 20px;
                    list-style: none;
                    padding: 35px;
                }
            }

        @media screen and (max-width: 1000px) {
            .navbar {
                background-color: blue;
                padding: -10px;

                ul li a {
                    font-size: 2rem;
                }

                #logo {
                    margin-top: -10px;
                    font-size: 2rem;
                    margin-left: 10px;
                }
            }

            .image-section {
                grid-column: 1/11;
                
                img {
                    border-radius: 10px;
                    width: 50%;
                }
            }

            .text-section {
                grid-column: 1/11;
                

                li:nth-child(1) {
                    font-size: 3rem;
                }

                li:nth-child(2) {
                    font-size: 2rem;
                }
            }

            .footer {
                grid-column: 1/11;
                
                color: blue;

                ul li {
                    font-family: 'Courier New', Courier, monospace;
                    list-style: none;
                    padding: 20px;
                }
            }
        }




         @media screen and (max-width: 800px) {
            .navbar {
                background-color: #6C0080;
                padding: 30px;
                ul {
                    display: none;
                }

                #logo:hover {
                background-color: rgb(7, 16, 92);
                color: orange; 
                font-size: px;
                transform: scale(0.5);
                padding: 10px;
                }
                #logo {
                    font-size: 30px;
                    margin-left: 20px;
                }

                #menu {
                    float: right;
                }
            }

            .image-section {
                grid-column: 1/11;
                padding-top: 10px;

                img {
                border-radius: 20%;
                width: 70%;
                
            }
            }

            .text-section {
                grid-column: 1/11;
                padding-top: 1rem;

                li:nth-child(1) {
                    font-size: 3rem;
                }

                li:nth-child(2) {
                    font-size: 2rem;
                }
            }
        }

        @media screen and (max-width: 600px) {
            .navbar {
                background-color: orangered;
                padding: 30px;
                ul {
                    display: none;
                }

                #logo:hover {
                background-color: rgb(7, 16, 92);
                color: orange; 
                font-size: 25px;
                transform: scale(0.5);
                padding: 10px;
                margin-top: 2%;


                #logo {
                    padding-top: 10px;
                    font-size: 30px;
                    margin-left: 50px;
                    
                }

                #menu {
                    float: right;
                }
            }

            .image-section {
                grid-column: 6 / 11;
                width: 70%;
            }

            .text-section {
                grid-column: 1/11;

                li:nth-child(1) {
                    font-size: 3rem;
                }

                li:nth-child(2) {
                    font-size: 2rem;
                }
            }
            .footer {
                grid-column: 1 / 5;
                
                ul li {
                    font-family: 'Courier New', Courier, monospace;
                    list-style: none;
                }
            }
        }

        

        @media screen and (max-width: 400px) {
            .navbar {
                
                ul {
                    
                    display: none;
                }

                #logo:hover {
                background-color: rgb(7, 16, 92);
                color: orange; 
                font-size: 25px;
                transform: scale(0.5);
                padding: 10px;
                margin-top: 5%;
                margin-left: 3%;

                }
                #logo {
                    font-size: 30px;
                    margin-left: 20px;
                }

                #menu {
                    float: right;
                }
            }

            .image-section {
                grid-column: 1/11;

                
            }

            .text-section {
                grid-column: 1/11;

                li:nth-child(1) {
                    font-size: 2rem;
                }

                li:nth-child(2) {
                    font-size: 1.5rem;
                }

            }
        }
    }